.form-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  box-sizing: border-box;

  @media (max-width: 550px) {
    width: auto;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 16px;
    line-height: 160%;
  }

  &__field {
    font-family: 'Rubik-light';
    border: none;
    width: inherit;
    font-size: 16px;
    line-height: 160%;
    color: #a3a6a9;
    margin-top: 7px;
  }

  &__field:focus {
    outline: none;
  }
}
